<?xml version="1.0" encoding="UTF-8"?>
<config>
 <object id="1">
  <metadata type="object" key="name" value="u9318.stl"/>
  <volume firstid="0" lastid="1153">
   <metadata type="volume" key="name" value="u9318.stl"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
  </volume>
 </object>
</config>
